:root{
    --success : #28c401;
    --danger : red;
    --warning : rgb(255, 217, 0);
    --info : rgb(0, 162, 255);
}

.AddFilterModal{
    position: fixed;
    top: 0;
    right : 0;
    bottom : 0;
    left : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000ce;
}

.content{
    display: block;
    margin : auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100px;
}

select{
    width : 200px;
    margin : 5px 0 5px 0;
    padding: 5px;
    font-size: 1.2rem;
}

input{
    padding: 5px;
}

.butons{
    display: flex;
    justify-content: center;
    margin-top : 40px;
}

button{
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
}

.cancel{
    background-color: white;
    color: var(--danger);
    border: 2px solid var(--danger);
}

.cancel:hover{
    background-color: var(--danger);
    color : white;
}

.add{
    background-color: white;
    color: var(--success);
    border: 2px solid var(--success);
}

.add:hover{
    background-color: var(--success);
    color: white;
}